body {
    margin: 0px;
    font-family: 'Comic Sans MS', cursive;
}

#main {
    margin: 10px;
    display: none;
}

#loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img {
    height: 100px;
    user-select: none;
    pointer-events: none;
}

#adminPassword {
    margin: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:  100vh;
}

#adminMain {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#setup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#setup img {
    height: 100px;
}

#questionStart {
    display: none;
}

#questionEnd {
    display: none;
}